<div class="container">
    <div class="col-md-8 col-md-offset-2">
        <div class='panel panel-primary'>
            <div class='panel-heading'>
                Login
            </div>
            <div class='panel-body'>
                <form (ngSubmit)="login(this.user)" #loginForm="ngForm">
                    <div [hidden]="!error"
                        class="alert alert-danger">
                        {{error}}
                    </div>
                    <div class="form-group">
                        <label for="email">Email address</label>
                        <input [(ngModel)]="user.email" name="email" (change)="this.error=''"
                            type="email" class="form-control" placeholder="Enter email" #email="ngModel" required>
                        <div [hidden]="email.valid || email.pristine"
                            class="alert alert-danger">
                            Email is required
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input [(ngModel)]="user.password" name="password" (change)="this.error=''"
                            type="password" class="form-control" placeholder="Enter password" #password="ngModel" required>
                            <div [hidden]="password.valid || password.pristine"
                                class="alert alert-danger">
                                Password is required
                            </div>
                    </div>
                    <button type="submit" class="btn btn-primary"
                        (click)="login(this.user)"
                        [disabled]="!loginForm.form.valid">
                        Submit
                    </button>
                </form>
            </div>
            <div class='panel-footer clearfix'>
                <a [routerLink]="['/signup']"
                    class='pull-right' style='display:inline'>
                    Don't have an account yet?
                </a>
            </div>
        </div>
    </div>
</div>