
  <div class="row" >
    <button routerLink="/dashboard" style="background-color:rgb(87, 87, 87); color: #fff;" cat-btn-details mat-button mat-raised-button class="btn-block">Home</button>
  </div>
  <div class="row">
    <button routerLink="/categories/computers" style="background-color:#fff" cat-btn-details mat-button mat-raised-button class="btn-block">Computer</button>
  </div>
  <div class="row">
    <button  routerLink="/categories/tablets" style="background-color:#fff" cat-btn-details mat-button mat-raised-button class="btn-block">Tablets</button>
  </div>
  <div class="row">
    <button routerLink="/categories/mouse" style="background-color:#fff" cat-btn-details mat-button mat-raised-button class="btn-block">Mouse</button>
  </div>

