<div class="container">
  <mat-horizontal-stepper>
    <mat-step>
      <form [formGroup]="shippingFormGroup">
        <ng-template matStepLabel>Shipping</ng-template>
        <div class="form-container col-md-8 col-md-offset-2">
          <mat-form-field>
            <input matInput placeholder="Email" formControlName="emailCtrl" required>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="First & Last name" formControlName="nameCtrl" required>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Address" formControlName="addressCtrl" required>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Contact Number" formControlName="contactCtrl" required>
          </mat-form-field>
        </div>
        <div class="col-md-12">
          <button mat-button matStepperNext class="btn btn-primary pull-right">Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <form [formGroup]="paymentFormGroup">
        <ng-template matStepLabel>Payment</ng-template>
        <div class="form-container col-md-8 col-md-offset-2">
          <mat-form-field>
            <input matInput placeholder="Input" formControlName="inputCtrl" required>
          </mat-form-field>
        </div>
        <div class="col-md-12">
          <div class="pull-right">
            <button mat-button matStepperPrevious class="btn btn-primary">Back</button>
            <button mat-button matStepperNext class="btn btn-primary">Done</button>
          </div>
        </div>
      </form>
    </mat-step>
  </mat-horizontal-stepper>
</div>