<h1 mat-dialog-title>{{data.name}}</h1>
<div mat-dialog-content>
    <mat-card class="example-card">
        <img mat-card-image [src]="data.image" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
           {{data.details}}
          </p>
        </mat-card-content>
      </mat-card>
    
    
</div>
<div mat-dialog-actions>
  <button mat-button (click)="addItemToCart(data)" tabindex="2">Add to Cart</button>
  <button mat-button (click)="onNoClick()" tabindex="-1">No Thanks</button>
</div>