
.as-header {
	background: #54548c;
	color: #fff;
	padding: 20px;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
}

.as-header a {
	text-decoration: inherit;
	color: inherit;
	cursor: pointer;
}